<ul nz-menu nzMode="inline">
  <li nz-menu-group nzTitle="Minority Group">
    <ul>
      <nz-select [nzMaxTagCount]="3" [nzMaxTagPlaceholder]="tagPlaceHolder" nzMode="multiple"
        nzPlaceHolder="Please select" [(ngModel)]="listOfSelectedValue">
        <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
      </nz-select>
    </ul>
  </li>

  <li nz-menu-item>
    <label nz-checkbox [(ngModel)]="is_combined">Combine Selected Group</label>
  </li>

  <li nz-menu-group nzTitle="Maximum  Population Percentages">
    <ul>
      <li nz-menu-item>
        <nz-col nzSpan="10">
          <nz-slider [nzStep]=0.01 [nzMin]="0" [nzMax]="1" [(ngModel)]="max"></nz-slider>
        </nz-col>
        <div nz-col nzSpan="3">&emsp;{{ max }}</div>
      </li>
    </ul>
  </li>

  <li nz-menu-group nzTitle="Minimum Population Percentages">
    <ul>
      <li nz-menu-item>
        <nz-col nzSpan="10">
          <nz-slider [nzStep]=0.01 [nzMin]="0" [nzMax]="1" [(ngModel)]="min"></nz-slider>
        </nz-col>
        <div nz-col nzSpan="3">&emsp;{{ min }}</div>
      </li>
    </ul>
  </li>

  <li nz-menu-item>
    <button [nzLoading]="loading_data" nz-button nzType="primary" [nzSize]="large" nzShape="round"
      (click)="on_click_apply()">
      Apply
    </button>
  </li>
  <li nz-menu-item>
    <button nz-button nzType="primary" [nzSize]="large" nzShape="round" (click)="on_click_view()">
      View Distribution
    </button>
  </li>
</ul>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto' }" [nzMaskClosable]="false" [nzWidth]="900"
  [nzVisible]="show_new" nzTitle="Table" (nzOnClose)="new_table_close()">
  <nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>Demographic Group</th>
        <th>Percentage</th>
        <th>Population</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.demographicGroup }}</td>
        <td>{{ data.percentage }} </td>
        <td>{{ data.population }} </td>

      </tr>
    </tbody>
  </nz-table>
</nz-drawer>