nz-select {
  width: 210px;
}
nz-input-number {
  width: 210px;
}

[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}
[nz-menu] {
  width: 300px;
  height: 100%;
}

nz-alert {
  margin-bottom: 12px;
  width: 100px;
}
