<ul nz-menu nzMode="inline">
  <li nz-menu-group nzTitle="Minority Group">
    <ul>
      <nz-select [nzMaxTagCount]="3" [nzMaxTagPlaceholder]="tagPlaceHolder" nzMode="multiple"
        nzPlaceHolder="Please select" [(ngModel)]="listOfSelectedValue">
        <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
      </nz-select>
    </ul>
  </li>

  <li nz-menu-item>
    <label nz-checkbox [(ngModel)]="is_combined">Combine Selected Group</label>
  </li>

  <li nz-menu-group nzTitle="Maximum  Population Percentages">
    <ul>
      <li nz-menu-item>
        <nz-col nzSpan="10">
          <nz-slider [nzStep]=0.01 [nzMin]="0" [nzMax]="1" [(ngModel)]="max"></nz-slider>
        </nz-col>
        <div nz-col nzSpan="3">&emsp;{{ max }}</div>
      </li>
    </ul>
  </li>

  <li nz-menu-group nzTitle="Minimum Population Percentages">
    <ul>
      <li nz-menu-item>
        <nz-col nzSpan="10">
          <nz-slider [nzStep]=0.01 [nzMin]="0" [nzMax]="1" [(ngModel)]="min"></nz-slider>
        </nz-col>
        <div nz-col nzSpan="3">&emsp;{{ min }}</div>
      </li>
    </ul>
  </li>

  <li nz-menu-item>
    <button nz-button nzType="primary" [nzSize]="large" nzShape="round" (click)="on_click_old()">
      View Distribution (old)
    </button>
  </li>
  <li nz-menu-item>
    <button nz-button nzType="primary" [nzSize]="large" nzShape="round" (click)="on_click_new()">
      View Distribution (new)
    </button>
  </li>
</ul>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto' }" [nzMaskClosable]="false" [nzWidth]="900"
  [nzVisible]="show_old" nzTitle="Table" (nzOnClose)="old_table_close()">
  <nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>Precinct Name</th>
        <th>Demographic Group</th>
        <th>Population</th>
        <th>Winning Votes</th>
        <th>Total Votes</th>
        <th>Winning Party</th>
        <th>Percentage</th>
        <th>Eligibility</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.precinctName }}</td>
        <td>{{ data.demographicGroup }}</td>
        <td>{{ data.population }} </td>
        <td>{{ data.winningVotes }}</td>
        <td>{{ data.totalVotes}} </td>
        <td>{{ data.winningParty }} </td>
        <td>{{ data.percentage }} </td>
        <td>{{ data.eligible }}</td>
      </tr>
    </tbody>
  </nz-table>
</nz-drawer>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto' }" [nzMaskClosable]="false" [nzWidth]="730"
  [nzVisible]="show_new" nzTitle="{{state_summary}}" (nzOnClose)="new_table_close()">
  <nz-table #districtTable [nzData]="districtData">
    <thead>
      <tr>
        <th>District ID</th>
        <th>Representative Name</th>
        <th>Party Affiliation</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of districtTable.data">
        <td>{{ data.id }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.party }} </td>
      </tr>
    </tbody>
  </nz-table>
</nz-drawer>