<ul nz-menu nzMode="inline">
  <li nz-menu-group nzTitle="Year Selection">
    <ul>
      <nz-select [(ngModel)]="selectedYear" nzAllowClear nzPlaceHolder="Choose a year">
        <nz-option nzValue="CONGRESSION_2016" nzLabel="2016 Congressional"></nz-option>
        <nz-option nzValue="CONGRESSION_2018" nzLabel="2018 Congressional"></nz-option>
        <nz-option nzValue="PRESIDENTIANAL_2016" nzLabel=" 2016 Presidential"></nz-option>
      </nz-select>
    </ul>
  </li>
  <li nz-menu-group nzTitle="Population Threshold">
    <ul>
      <nz-input-number [(ngModel)]="polulationThreshold" [nzFormatter]="formatterPercent" [nzMin]="0" [nzMax]="100"
        [nzStep]="1">
      </nz-input-number>
    </ul>
  </li>
  <li nz-menu-group nzTitle="Party Threshold">
    <ul>
      <nz-input-number [(ngModel)]="partyThreshold" [nzFormatter]="formatterPercent" [nzMin]="0" [nzMax]="100"
        [nzStep]="1">
      </nz-input-number>
    </ul>
  </li>
  <br />
  <li nz-menu-item>
    <button nz-button nzType="primary" [nzSize]="large" nzShape="round" (click)="onClickApply()">
      Phase 0
    </button>
  </li>
  <li nz-menu-item>
    <button nz-button nzType="primary" [nzSize]="size" nzShape="round" (click)="onTableOpen()">
      Data Table
    </button>
  </li>
</ul>
<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto' }" [nzMaskClosable]="false" [nzWidth]="730"
  [nzVisible]="showTable" nzTitle="Table" (nzOnClose)="onTableClose()">
  <nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>ID</th>
        <th>Demographic Group</th>
        <th>Percentage</th>
        <th>Population</th>
        <th>Total Votes</th>
        <th>Winning Party</th>
        <th>Winning Votes</th>
        <th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.precinctIdd }}</td>
        <td>{{ data.demographicGroup }}</td>
        <td>{{ data.percentage }} </td>
        <td>{{ data.population }} </td>
        <td>{{ data.totalVotes}} </td>
        <td>{{ data.winningParty }} </td>
        <td>{{ data.winningVotes }}</td>
      </tr>
    </tbody>
  </nz-table>
</nz-drawer>