<ul nz-menu nzMode="inline">
  <li nz-menu-group nzTitle="Year Selection">
    <ul>
      <nz-select [(ngModel)]="selectedYear" (ngModelChange)="change_year()" nzAllowClear nzPlaceHolder="Choose a year">
        <nz-option nzValue="CONGRESSIONAL_2016" nzLabel="2016 Congressional"></nz-option>
        <nz-option nzValue="CONGRESSIONAL_2018" nzLabel="2018 Congressional"></nz-option>
        <nz-option nzValue="PRESIDENTIAL_2016" nzLabel=" 2016 Presidential"></nz-option>
      </nz-select>
    </ul>
  </li>
  <li nz-menu-group nzTitle="Color Theme">
    <ul>
      <nz-select [(ngModel)]="selected_theme" (ngModelChange)="change_color_theme()" nzAllowClear
        nzPlaceHolder="Choose a color">
        <nz-option nzValue="Red" nzLabel="Red"></nz-option>
        <nz-option nzValue="Blue" nzLabel="Blue"></nz-option>
        <nz-option nzValue="Green" nzLabel="Green"></nz-option>
      </nz-select>
    </ul>
  </li>
  <li nz-menu-group nzTitle="Population Threshold">
    <ul>
      <nz-input-number [(ngModel)]="polulationThreshold" [nzFormatter]="formatterPercent" [nzMin]="0" [nzMax]="100"
        [nzStep]="1">
      </nz-input-number>
    </ul>
  </li>
  <li nz-menu-group nzTitle="Party Threshold">
    <ul>
      <nz-input-number [(ngModel)]="partyThreshold" [nzFormatter]="formatterPercent" [nzMin]="0" [nzMax]="100"
        [nzStep]="1">
      </nz-input-number>
    </ul>
  </li>
  <br />
  <li nz-menu-item>
    <button nz-button nzType="primary" [nzSize]="large" nzShape="round" (click)="onClickApply()">
      Phase 0
    </button>
  </li>
  <li nz-menu-item>
    <button nz-button nzType="primary" [nzSize]="size" nzShape="round" (click)="onTableOpen()">
      Data Table
    </button>
  </li>
  <li nz-menu-item>
    <button nz-button nzType="primary" [nzSize]="size" nzShape="round" (click)="onDistrictTableOpen()">
      View voting incumbents
    </button>
  </li>
  <li nz-menue-item>
    <nz-alert nzType="info" nzMessage="Informational Notes" nzDescription="{{state_constitution}}" nzShowIcon>
    </nz-alert>
  </li>
</ul>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto' }" [nzMaskClosable]="false" [nzWidth]="900"
  [nzVisible]="showTable" nzTitle="Table" (nzOnClose)="onTableClose()">
  <nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>Precinct Name</th>
        <th>Demographic Group</th>
        <th>Population</th>
        <th>Winning Votes</th>
        <th>Total Votes</th>
        <th>Winning Party</th>
        <th>Percentage</th>
        <th>Eligibility</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.precinctName }}</td>
        <td>{{ data.demographicGroup }}</td>
        <td>{{ data.population }} </td>
        <td>{{ data.winningVotes }}</td>
        <td>{{ data.totalVotes}} </td>
        <td>{{ data.winningParty }} </td>
        <td>{{ data.percentage }} </td>
        <td>{{ data.eligible }}</td>
      </tr>
    </tbody>
  </nz-table>
</nz-drawer>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto' }" [nzMaskClosable]="false" [nzWidth]="730"
  [nzVisible]="showDistrictTable" nzTitle="{{state_summary}}" (nzOnClose)="onDistrictTableClose()">
  <nz-table #districtTable [nzData]="districtData">
    <thead>
      <tr>
        <th>District ID</th>
        <th>Representative Name</th>
        <th>Party Affiliation</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of districtTable.data">
        <td>{{ data.id }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.party }} </td>
      </tr>
    </tbody>
  </nz-table>
</nz-drawer>