[nz-menu] {
  width: 300px;
  height: 100%;
}
nz-select {
  width: 210px;
}
nz-input-number {
  width: 210px;
}

[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}
nz-alert {
  width: 250px;
  margin-bottom: 12px;
}
